.buy-buttons {
  display: flex;

  @media #{$max-width-mobile-max2} {
    flex-direction: column;
  }
}

.buy-buttons__item {
  width: 190px;

  &--order {
    margin-right: 20px;
  }

  @media #{$max-width-mobile-max2} {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    &--order {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
}