.youtube {
  margin-top: 30px;
  width: 100%;
}

.youtube__item {
  width: 100%;

  @media #{$max-width-desktop} {
    max-height: 550px;
  }

  @media #{$max-width-tablet} {
    max-height: 370px;
  }

  @media #{$max-width-mobile-max} {
    max-height: 200px;
  }
}