{% extends 'admin/change_list.html' %}
{% load i18n admin_urls static admin_list %}

{% block object-tools %}
    {{ block.super }}
    <form action="download_emails/" method="POST" class="submit-row">
            {% csrf_token %}
                <input type="submit" value="Скачать электронные адреса пользователей" name="_download">
    </form>
    <form action="recalc_points/" method="POST" class="submit-row">
            {% csrf_token %}
                <input type="submit" value="Пересчитать баллы пользователей" name="_download">
    </form>
{% endblock %}
