{% load static %}
    <div class="modal fade" id="modal-user" tabindex="-1" role="dialog" aria-hidden="true">

        <div class="modal-dialog modal-dialog-left" role="document">
            <div class="modal-content">
                <button class="modal-close" type="button" data-dismiss="modal" aria-label="Close"></button>
                <div class="modal-scroll">
                    <div class="mprod">
                        <div class="mprod-header">
                            <div class="mprod-name" style="width: 100%;"></div>
                            <div class="mprod-age" style="width: 100%;"></div>
                        </div>
                        <div class="mprod-body">
                            <div class="mprod-wrap">
                                <div class="pagi" id="paginator-user-modal">
                                </div>
                                <div class="gallery-items user-detail-items">
                                    <div class="loader">Загрузка...</div>
                                    <div class="gallery-item user-detail-item" id="detail-work-placeholder" style="display: none;"><a class="gallery-item__imgwrap"
                                        href="">
                                        <!-- <img class="gallery-item__prize" src="../static/images/sprize3.png"> -->
                                        <div class="gallery-item__img"
                                            style=""></div>
                                    </a>
                                    <div class="gallery-item__content"><a class="gallery-item__like like-toggle"></a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>