{% load static %}
    <div class="modal fade" id="modal-verify-profile" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-left" role="document">
            <div class="modal-content">
                <button class="modal-close" type="button" data-dismiss="modal" aria-label="Close"></button>
                <div class="modal-scroll">
                    <div class="modal-form" id="verify-profile-modal">

                        <div class=" modal-error" id="" style="display: none;"></div>

                        <div class="modal-form" id="">
                            <div class="modal-body">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">аккаунт успешно подтвержден!</h4>

                                        <div class="modal-noac__body">
                                            <div class="joins-plane"><img src="{% static 'promo/static/images/plane3.png' %}">
                                                <a class="joins-plane__link" data-dismiss="modal" data-toggle="modal"
                                                    data-target="#modal-log" href="#">войти</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
